@use '../../../styles/variables.scss';

.demo-inline-calendar-card {
    width: 300px;
    margin-top: 48px;
    background-color: variables.$white;
}


.calendar-container {
    width: 100%;
    margin-top: -1rem;

    mat-calendar {
        padding: 1rem 1rem 0 1rem;
    }

    @media (max-width: variables.$breakpoint-md) {
        max-width: unset;
    }
}
.table-container {
    width: 100%;
}