<mat-card class="demo-inline-calendar-card">
    <div class="calendar-container">

        <button (click)="resetDate()">reset</button>
        <button (click)="changeMode()">cahnge mode</button>
        <button (click)="rangeMode()">range mode</button>

    <app-calendar-header
        [mode]="mode"
        (changePeriod)="changePeriodAction($event)"
        [flagDate]="flagDateSignal()"
        [weekLabel]="monthWeeks()[weekPeriodVisibleIndex()].label"
      ></app-calendar-header>
      <app-calendar-body
        [monthWeeks]="monthWeeks()"
        [mode]="mode"
        [flagDateSignal]="flagDateSignal()"
        (onSelectDate)="selectDate($event)"
      ></app-calendar-body>
    </div>
</mat-card>