
<div class="calendar-header">

    <button mat-icon-button (click)="changePeriodAction()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <span class="calendar-header-label">{{periodLabel()}}</span>

    <button mat-icon-button (click)="changePeriodAction('next')" >
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <!-- <button mat-icon-button (click)="changePeriodAction()" [attr.aria-label]="'Poprzedni miesiąc ' + adjacentMonthNames().prevMonthName">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <span class="calendar-header-label">{{periodLabel()}}</span>

    <button mat-icon-button (click)="changePeriodAction('next')" [attr.aria-label]="'Następny miesiąc ' + adjacentMonthNames().nextMonthName">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button> -->


</div>