.table-container {
    width: 100%;
    border-collapse: collapse;

    * {
        box-sizing: border-box;
      }

    tbody tr {
        margin-bottom: 6px;
      }

      tbody {
        display: block;
      }
      
      tr {
        display: flex;
      }
      

    th,
    td {
        padding: 0;
        margin: 0;
        width: 100%;
        aspect-ratio: 1 / 1; 

        &.day-cell {
            aspect-ratio: unset;
            font-size: 12px;
        }
    }
}