<table class="table-container">

    <tbody>
        <tr>
            @for (day of calendarDaysLabels; let i = $index; track day) {
                <th class="day-cell">{{day}}</th>
            }
        </tr>
        @for (week of monthWeeks() | weekByDate:flagDateSignal():mode(); track week.label) {
            <tr>
                @for (day of week.beforeMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" [selectedDate]="selectedDate()" [mode]="isInMonth.OUT_OF_MONTH" (dateClicked)="selectDate($event)"></app-calendar-cell>
                    </th>
                }
                @for (day of week.inMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" [selectedDate]="selectedDate()" (dateClicked)="selectDate($event)"></app-calendar-cell>
                    </th>
                }
                @for (day of week.afterMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" [selectedDate]="selectedDate()" [mode]="isInMonth.OUT_OF_MONTH" (dateClicked)="selectDate($event)"></app-calendar-cell>
                </th>
                }
            </tr>
        }
    </tbody>
  </table>