<table class="table-container">

    <tbody>
        @for (week of monthWeeks() | weekByDate:flagDateSignal():mode(); track week.label) {
            <tr>
                @for (day of week.beforeMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" mode="outOfMonth" (dateClicked)="selectDate($event)"></app-calendar-cell>
                    </th>
                }
                @for (day of week.inMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" (dateClicked)="selectDate($event)"></app-calendar-cell>
                    </th>
                }
                @for (day of week.afterMonth; let i = $index; track trackByDate(day)) {
                    <th>
                        <app-calendar-cell [rangeMode]="rangeMode()" [date]="day" mode="outOfMonth" (dateClicked)="selectDate($event)"></app-calendar-cell>
                    </th>
                }
            </tr>
        }
    </tbody>
  </table>